@model IEnumerable<WebApplication6.mode.SparePart>


@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog-Z Contact page</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <script src="https://kit.fontawesome.com/a363edd0e0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <font-awesome-icon :icon="['far', 'arrow-up']" />
    <FontAwesomeIcon icon="fa-duotone fa-arrow-up" />
    <font-awesome-icon :icon="['fad', 'arrow-up']" />
    <font-awesome-icon :icon="['far', 'arrow-up']" />
    <FontAwesomeIcon icon="fa-duotone fa-arrow-up" />
    <font-awesome-icon :icon="['fas', 'arrow-up']" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--

    TemplateMo 556 Catalog-Z

    https://templatemo.com/tm-556-catalog-z

    -->
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!--<i class="fa-solid fa-phone"></i>-->
            <a class="navbar-brand" href="file:///C:/Users/original/Downloads/c%23website/template/templatemo_556_catalog_z/index.html" target="_parent" rel="sponsored">
                Fix today
            </a>`   
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1"  href="@Url.Action("Home","Home")">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="@Url.Action("brands","Brands")">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-3" href="@Url.Action("about","Home")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-4" href="@Url.Action("contact","Home")">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-5" href="@Url.Action("profile","Home")"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-6" href="@Url.Action("CartForUser","Orders")"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @{
        var data = ViewBag.ss;
    }
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll">
        <form class="d-flex tm-search-form" asp-action="Sparepartsbycatagory" asp-controller="SpareParts"asp-route-catId=@data.CId>
            <input name ="Search" class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div>
        <a asp-action="Sparepartsbycatagory" asp-controller="SpareParts"asp-route-catId=@data.CId>Back For The Whole List</a>
    </div>

<table class="table">
    
    <tbody>
         <div class="container">
        <div class="row">
        @foreach (var item in Model)
        {
                 <div class="col-sm-3">
              
                        <a href="@Url.Action("Create","Orders" , new{ partId = item.SId})">
                            @{
                                var base64 = Convert.ToBase64String(item.Photo);
                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                            }
                                 
                            <div class="border">
                        <div class="content">
                                          <img src="@imgsrc" class="image" style="text-align: center;"  />
                           <div class="caption" >
                                <h4>@Html.DisplayFor(modelItem => item.SName)</h4>
                                        <h6>@Html.DisplayFor(modelItem => item.price)</h6>
                                </div>

                           </div>     
                                <style>
    .border {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-bottom: 20px;
    }

    .content {
        text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
    }

    .image {
        height: 150px;
        object-fit: contain;
        border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
    }

    .caption h4,
    .caption h6 {
        margin-top: 10px;
        margin-bottom: 0;
    }
                           </style>
                         </div>
                        </a>
                          
                                </div>
        }
          </div>
      </div>
    </tbody>
</table>
<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">About Fix today</h3>
                <p>Fix today is an online website for buying phone spare parts for all prands for any categories. You can also sell your old phone and we will take all repaired spare parts and show it in our website to buy it.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                <ul class="tm-footer-links pl-0">
                    <li><a href="file:///C:/Users/original/Downloads/c%23website/template/templatemo_556_catalog_z/index.html">Main</a></li>
                    <li><a href="file:///C:/Users/original/Downloads/c%23website/template/templatemo_556_catalog_z/videos.html">Services</a></li>
                    <li><a href="file:///C:/Users/original/Downloads/c%23website/template/templatemo_556_catalog_z/about.html">About</a></li>
                    <li><a href="file:///C:/Users/original/Downloads/c%23website/template/templatemo_556_catalog_z/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                    <li><a href="https://www.facebook.com/?locale=ar_AR"><i class="fa-brands fa-facebook"></i></a></li>
                    <li>
                        <a href="https://www.twitter.com/?locale=ar_AR">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/?locale=ar_AR">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/?locale=ar_AR">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/?locale=ar_AR">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                Copyright 2023 Fix today.
            </div>
            <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                Designed by <a href="https://www.free-css.com/free-css-templates?start=552" class="tm-text-gray" rel="sponsored" target="_parent">Free CSS</a>
            </div>
        </div>
    </div>
</footer>
<script src="~/js/plugins.js"></script>
<script>
    $(window).on("load", function () {
        $('body').addClass('loaded');
    });
</script>
</body>
</html>
